@page "/todos"
@using AspireTodoApp.Web.ApiClients
@using AspireTodoApp.Web.Models.Responses
@attribute [StreamRendering]

@inject TodoApiClient TodoApi

<h1>Todo一覧</h1>

@if (_todoItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NavLink href="/todos/create">新規作成</NavLink>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>IsComplete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todoItem in _todoItems)
            {
                <tr>
                    <td>@todoItem.Id</td>
                    <td>@todoItem.Name</td>
                    <td>@todoItem.IsComplete</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TodoItemDto[]? _todoItems;

    protected override async Task OnInitializedAsync()
    {
        _todoItems = await TodoApi.GetTodoItemsAsync();
    }

}
